<h1>Study Materials</h1>
<ul>
  <% materials.forEach(material => { %>
    <li>
      <h3><%= material.title %></h3>
      <p>Type: <%= material.type %></p>
      <a href="<%= material.link %>">Access Material</a>
    </li>
  <% }) %>
</ul>
